
{% extends 'core/base.html' %}  

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-b.jpg' %}{% endblock %}

{% block headers %}     
    <h1>Acerca de</h1>
    <span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
  <div class="container">
      <div class="row">   
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">Josthin Acosta</h2>   
          <p>Nacido en Portoviejo, capital de Manabi-Ecuador.</p>
          <p>Estudie en el colegio Uruguay y actualmente soy estudiante de la Universidad Tecnica de Manabi</p>
          <p>Estudio la carrera de Sistemas de Informacion, y estoy en 4to Semestre</p>
        </div>
      </div>  
    </div>
{% endblock %} 

 
 

       

 