{% extends 'core/base.html' %}  

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-b.jpg' %}{% endblock %}

{% block headers %}     
 <h1>Contacto</h1>
  <span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
 <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Para mas Informacion contactenos en las redes sociales como</p>
          <br>
          <p><b>Facebook:</b> Josthin Acosta</p>
          <p><b>O a nuestros numero telefonicos</p>
          <p><b>Celular:</b> 593 998 019 394</p>
          <p><b>Teléfono:</b> 052 441 070 </p>
        </div>
      </div>
    </div> 
{% endblock %} 

 
 

       

